/*PC*/
@media (min-width: 960px){
    
}

/*tablet & mobile*/
/*TABLEt*/
@media (max-width: 959px){
    
}

/*TABLEt*/
@media (min-width: 740px) and (max-width:959px){
    
}
/*Mobile*/
@media screen and (max-width: 739px){
    #header{
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }

    #mobile-menu-btn{
        display: block;
    }

    #nav{
        display: block;
        padding-left: 0;
    } 

    #nav li {
        display: block;
    } 

#nav li a{
    line-height: 70px;
}

    #nav > li:hover > a{
        color: #000;
        background-color: #ccc;

    }
           
    #nav .subnav{
        position: initial;
        background-color: #fff;
        width: 100%;
    }

    #nav .subnav li a{
        color: #000;  
    }

    #nav .subnav li a:hover{
        width: 100%;
        background-color: rgba(204, 204,204 , .2);
    }

    #nav li:hover a{
        display: block;
    }

}