/*PC*/
@media (min-width: 960px){
    
}
/*TABLEt*/
@media (min-width: 740px) and (max-width:959px){
    
}
/*Mobile*/
@media (max-width: 739px){
    #header{
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }

    #header .mobile-meunu-btn{
        display: block;
    }

    #nav{
        display: block;
    } 


    #nav > li {
        display: block;
    } 

    #nav > li:hover > a{
        color: #000;
        background-color: #ccc;
    }

    #nav li a{
        padding: 1px 24px;
        display: block;
    }
           
    #nav > li:first-child{
        display: inline-block;
    }  

    #nav .subnav{
        position: initial;
        background-color: #333;
        padding-right: 1000px;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }

    #nav .subnav a:hover{
        width: 100%;
        background-color: #333;
    }

    #content .member img{
        height: 60%;
    }

    .place-content{
        margin: 0 0 16px 0;
    }

    .col{
        float: initial;
        width: 100%;
    }


}