* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
}

html {
  font-size: 14px;
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* header */
#header {
  width: 100%;
  height: 72px;
  z-index: 1;
  background-color: #fff;
}

#nav {
  display: flex;
  justify-content: center;
}

#nav li {
  display: inline-block;
  margin: 0 0;
}

#nav>li>a:hover {
  color: #000;
  background-color: rgba(204, 204, 204, .6);
}

#nav li a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  line-height: 72px;
  padding: 0 24px;
  display: inline-block;
  cursor: pointer;
}

#nav a button {
  background-color: #fff;
  color: #000;
  border: 1px solid #333;
  text-decoration: none;
  margin: 20px 10px;
  -webkit-appearance: none;
  display: block;
}

#nav a button:hover {
  background-color: #222;
  opacity: .6;
  color: #fff;
}

#nav > li > img {
  height: 72px;
  cursor: pointer;
}

#nav li img:hover {
  opacity: .7;
}

#nav .subnav {
  display: none;
  width: 124px;
  min-height: 92px;
  padding-left: 0;
  margin: auto;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

#nav .subnav li {
  margin: 0;
}

#nav .subnav li a {
  line-height: 56px;

}

#nav .subnav li:hover {
  width: 100%;
  color: #000;
  background-color: rgba(204, 204, 204, .7);
}

#nav .subnav li a {
  color: #000;
}

#nav li:hover .subnav {
  display: block;
}

/* icon menu */
#mobile-menu-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 0 24px;
}

#header .menu-icon {
  line-height: 72px;
}


#slider {}

#slider .slider--img img {
  width: 100%;
}

#slider .text-content {
  position: relative;
  bottom: 100px;
  text-align: center;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 2px #fff;
}

#slider .text-content__header {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-in-img {
  font-size: 15px;
  margin-top: 25px;
}

#content {}

.wrap-layout__item p {
  margin: 16px 0;
}

/* warp img khi chạm nhau */

.wrap-layout {
  background-color: #fff;
  margin-top: 36px;
  padding: 12px 0 32px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrap-layout__item img {
  height: 300px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.wrap-layout__item p {
  font-size: 30px;
  text-align: center;
}

.modalAn {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.modalPinh {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.modal-login {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-SignUp {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-An{
  display: none !important;
}

.hide-Pinh{
  display: none;
}

/* login */
.container-sign {
  box-shadow: 4px 3px 30px rgba(0, 0, 0, .3);
}

.modal_header {
  display: flex;
  justify-content: center;
  line-height: 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #4267B2;
  padding: 18px 22px;
  color: #fff;
  font-size: 24px;
}

.modal_body {
  min-height: 170px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.account {
  text-align: center;
  padding: 6px;
}

.account ul li {
  display: inline-block;
  margin-top: 10px;
  min-width: 80px;
}

.input-account {
  border-radius: 10px;
  border: 1px solid rgb(136, 136, 136);
  padding: 10px;
  width: 100%;
}

.btn-login {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  color: #fff;
  background-color: #4267B2;
  padding: 8px 16px;
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
}

.hide-Login {
  display: none;
}

.hide-signup {
  display: none;
}